<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div> <br><br>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Post">
    </form>

    {% for data in students %}
        <a href="{% url 'update' data.id%}">{{data.name}}</a>
        <a href="{% url 'delete' data.id %}">{{data.email}}</a>  <br> 
        <br>
    {% endfor %}
</body>
</html>